@import url(http://fonts.googleapis.com/css?family=Fauna+One);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #000 url('../images/background.jpg');
	font-family: 'Fauna One', Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	color: #333;
}

#container {
	max-width: 1080px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
	padding: 25px;
}

header {
	width:100%;
	float: left;
	padding-bottom :25px;
}

header h1 {
	float: left;
}

header nav {
	float:right;
}

header nav ul li {
	display: inline;
	margin: 0 10px;
}


section {
	width:65%;
	float: left;
}

aside {
	width:35%;
	float:right;
}

.left {
	float: left;
	margin-right: 10px;
}

.right{
	float: right;
	margin-left: 10px;
}

footer {
	width: 100%;
	clear:both;
}











